.faqview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .faqview {
    grid-template-columns: 1fr;
  }
}
