.searchbar {
  margin-bottom: 150px;
}

.searchinput {
  font-family: 'Roboto', sans-serif;
  color: #2e2e2e;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 350px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
