.header {
  display: flex;
  width: 100%;
  height: 400px;
  background-image: url('../../assets/images/faq.jpg');
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
